# URL del backend
VITE_API_URL=http://localhost:4000/api

# Client ID de Google (mismo valor que GOOGLE_CLIENT_ID en backend/.env)
# Se obtiene en https://console.cloud.google.com/apis/credentials
VITE_GOOGLE_CLIENT_ID=504623995351-4meu83rrh22h15v38gol626q21srmv8a.apps.googleusercontent.com
